* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Changa', sans-serif; */
    font-family: "Amatic SC", cursive;
    /* font-size: 28px; */
    color: rgb(2, 17, 56);
}

/* || ***** GENERAL STYLES ******/

html,
body,
main {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: powderblue;
    color: rgb(2, 17, 56);
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

p, input, textarea {
    font-size: 30px;
}

/* || ***** UTILITIES & EFFECTS ******/

a,
button,
.upload-btn,
.icon,
label,
.logo-small {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/* || ***** LINKS, INPUTS, BUTTONS ******/

a:hover,
a:focus {
    outline: none;
}

.link {
    display: inline-block;
    text-decoration: none;
    border-top: 4px dotted transparent;
    border-bottom: 4px dotted transparent;
}

.link:visited {
    color: rgb(2, 17, 56);
}

.link:hover,
.link:focus {
    transform: translateY(-3px);
    border-bottom: 4px dotted rgb(2, 17, 56);
}

.input {
    background-color: hsl(186, 51%, 90%);
    color: rgb(2, 17, 56);
    font-size: 28px;
    border-radius: 6px;
    padding: 3px 6px;
    border: none;
    margin: 6px;
}
.input:hover,
.input:focus {
    box-shadow: inset 0px 0px 0px 2px rgb(2, 17, 56);
}
.input:focus {
    outline: none;
}

/* hiding the file input field: */
#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* styling the label for the file input field: */
#file + label {
    font-size: 24px;
    margin: 6px;
}

button,
.btn  {
    background-color: powderblue;
    color: rgb(2, 17, 56);
    font-size: 27px;
    border: 2px solid rgb(2, 17, 56);
    border-radius: 12px;
    font-weight: bold;
    margin: 5px;
    padding: 1px 6px;
}

.icon {
    width: 35px;
    height: 35px;
    /* background: powderblue; */
    stroke: rgb(2, 17, 56);
}

button:focus,
button:hover,
.btn:hover,
.btn:focus {
    outline: none;
}

button:focus,
button:hover,
.btn:focus,
.btn:hover {
    background-color: rgb(2, 17, 56);
    color: powderblue;
}

.upload-btn:hover label {
    color: powderblue;
}

.upload-btn:focus .icon ,
.upload-btn:hover .icon {
    /* background: rgb(2, 17, 56); */
    stroke: powderblue;
}

button:hover,
.btn:hover * {
    cursor: pointer;
}

button:active,
.btn:active {
    transform: translateY(3px);
}

/* || ***** LOGGED OUT PAGES ******/

.welcome {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    padding-top: 150px;
}

.logo-big {
    text-align: center;
    margin-bottom: 30px;
}

.logo-big h1 {
    margin-bottom: 10px;
}

.register,
.login,
.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* || ***** LOGGED IN PAGES ******/

/* HEADER */

header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 130px;
    background: powderblue;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    flex-shrink: 0;
    border-bottom: 4px dotted rgb(2, 17, 56);
}

.header-right {
    display: flex;
    align-items: center;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    font-size: 30px;
    /* font-weight: bold; */
    border-top: 4px dotted transparent;
    border-bottom: 4px dotted transparent;
}

.nav a:visited {
    color: rgb(2, 17, 56);
}

.nav a:hover,
.nav a:focus {
    transform: translateY(-3px);
    border-bottom: 4px dotted rgb(2, 17, 56);
}

.logo-small {
    height: 80px;
}

.logo-small img {
    height: 100%;
}

.logo-small:hover {
    transform: scale(1.1);
    cursor: pointer;
}

header .profile-pic {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    /* border: 2px dotted rgb(2, 17, 56); */
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
}

header .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    /* border-radius: 10px; */
}

/* MAIN PAGES - SIDEWIDE*/

.main {
    position: relative;
    margin-top: 130px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    background-color: hsl(186, 51%, 90%);
    padding: 30px;

    flex-direction: column;
    align-items: center;
}

.main .input {
    background-color: powderblue;
}

.users {
    display: flex;
    flex-direction: column;
}

.users a {
    text-decoration: none;
}

.users .profile-pic {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.other-user {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    flex-shrink: 0;
}

.other-user:hover .profile-pic {
    transform: translateX(-3px);
}

.main .profile-pic {
    flex-shrink: 0;
}

.main .profile-pic img {
    width: 100%;
    border-radius: 10px;
}

.profile-pic img:hover {
    cursor: pointer;
}

/* PROFILE & OTHER PROFILE */

.main.profile {
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10%;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.profile .profile-pic {
    width: 200px;
    flex-shrink: 0;
}

.profile-text {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.profile-text p {
    /* formats white-space characters like they were typed in the textarea field: */
    white-space: pre;
}

.editing-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea.edit-bio {
    border: 2px solid rgb(2, 17, 56);
    border-radius: 10px;
    padding: 2px;
    background-color: hsl(186, 51%, 95%);
    width: 100%;
}

/* (FIND) USERS */

.search-users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recently-joined h3 {
    text-align: center;
    margin-bottom: 10px;
}

.find-users .profile-pic {
    width: 100px;
    margin-right: 15px;
}

/* FRIENDS */

.friends-wannabes .users {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.friends-wannabes .other-user {
    margin: 10px 20px;
}

.friends-wannabes .profile-pic {
    width: 100px;
    margin-right: 15px;
}

.name-btn-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-btn-box button {
    margin: 5px 0;
    border-width: 1px;
    font-weight: normal;
    font-size: 22px;
    z-index: 5;
}

/* UPLOADER modal*/

.uploader-box {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
}

.uploader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(2, 17, 56);
    border-radius: 10px;
    background-color: powderblue;
    padding: 10px;
    width: 60%;
    min-width: 300px;
}

.upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 41px;
}

.closeX {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-end;
    color: grey;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.closeX:hover {
    cursor: pointer;
    color: rgb(2, 17, 56);
}

/* ***** CHAT & ONLINE USERS ***** */
.chat-room {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.online-users {
    margin-left: 30px;
}

.online-users .other-user {
    font-size: 30px;
}

.online-users .profile-pic {
    width: 60px;
    flex-shrink: 0;
    margin-right: 10px;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* border: 2px solid rgb(2, 17, 56); */
    border-radius: 10px;
    align-items: center;
}
.chat h2,
.online-users h2 {
    margin-bottom: 20px;
}

.chat-container {
    height: 400px;
    width: 100%;
    min-width: 450px;
    /* border: 2px solid rgb(2, 17, 56);
    border-radius: 10px; */
    border-top: 4px dotted rgb(2, 17, 56);
    border-bottom: 4px dotted rgb(2, 17, 56);
    padding: 0 6px;
    overflow-y: scroll;
}

.chat-container p,
.chat-container span {
    font-weight: normal;
}

textarea.new-message {
    width: 100%;
    max-width: 100%;
    min-width: 450px;
    border: none;
    /* border-radius: 0px 0px 0px 10px; */
    border-radius: unset;
    padding: 6px;
    border-bottom: 4px dotted rgb(2, 17, 56);
    background-color: hsl(186, 51%, 95%);
}

.message {
    display: flex;
    font-size: 30px;
    margin-bottom: 6px;
}

.name-date-msg-box {
    margin-left: 10px;
}

.date-time {
    margin-left: 10px;
    font-size: 26px;
    color: grey;
}

.chat .profile-pic {
    width: 60px;
    flex-shrink: 0;
}

/* || ***** MOBILE ******/
@media screen and (max-width: 480px) {
    .uploader-box {
        position: absolute;
        top: 130px;
        width: 100%;
    }
    .uploader {
        width: 95%;
    }
}
