* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Changa', sans-serif; */
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    color: rgb(2, 17, 56);
}

html, body, main {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: powderblue;
    color: rgb(2, 17, 56);
}

/* logged in components: */
header {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.profile {
    display: flex;
    margin-top: 50px;
    padding: 0 30px;
}

.logo-small, .profile-pic {
    height: 80px;
}

.logo-small img, .profile-pic img {
    height: 100%;
}

.profile .profile-pic {
    height: 150px;
    margin-right: 20px;
}

.profile-pic img:hover {
    cursor: pointer;
}

.uploader-box {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
}

.uploader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(2, 17, 56);
    border-radius: 10px;
    background-color: powderblue;
    padding: 10px;
    width: 60%;
    min-width: 300px;
}

.closeX {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    font-weight: bold;
    align-self: flex-end;
    color: grey;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.closeX:hover {
    cursor: pointer;
    color: rgb(2, 17, 56);
}

/* logged out components: */
.welcome {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    padding-top: 150px;
}

h1 {
    font-size: 40px;
}

.logo-big {
    text-align: center;
}

.register, .login, .reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ********INPUTS & BUTTONS********** */
a, button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

a {
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
}

.input {
    background-color: powderblue;
    color: rgb(2, 17, 56);
    font-size: 28px;
    border-radius: 6px;
    padding: 3px 6px;
    border: none;
    margin: 6px;
}
.input:hover {
    box-shadow: inset 0px 0px 0px 2px rgb(2, 17, 56);
}
.input:focus {
    outline: none;
}

/* hiding the file input field: */
#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* styling the label for the file input field: */
#file + label {
    font-size: 24px;
    margin: 6px;
}


button, #file + label {
    background-color: powderblue;
    color: rgb(2, 17, 56);
    font-size: 28px;
    border: 2px solid rgb(2, 17, 56);
    border-radius: 12px;
    font-weight: bold;
    margin: 5px;
    padding: 1px 6px;
}

button:focus, button:hover, a:hover {
    outline: none;
}

button:focus, button:hover, #file:focus + label, #file + label:hover {
    background-color: rgb(2, 17, 56);
    color: powderblue;
}

button:hover, #file + label:hover {
    cursor: pointer;
}

button:active {
  transform: translateY(3px);
}

@media screen and (max-width: 480px) {
    .uploader-box {
        position: absolute;
        top: 130px;
        width: 100%;
    }
    .uploader {
        width: 95%;
    }
}
